<div class="container">
  <div class="row">
    <div class="col-lg-7 p-5">
      <div class="d-flex pb-5">
        <div class="heading">About Me</div>
      </div>

      <div>Hey stranger !!</div>
      <div class="mt-2">
        My name is Rishabh Malhotra, I am a Web developer and a Software
        Engineer. Currently I am pursuing my Bachelors of Engineering degree
        from Chitkara University, Punjab.
      </div>
      <div class="mt-2">
        I have a huge passion about creating stuffs especially if they are
        realted to technology, Although I am a good cook too
        <i>( Says the one who only know how to cook maggie )</i>.
      </div>
      <div>I currently live in Haryana, India.</div>

      <div class="mt-4">
        Talking about my interests, Web, Computers and Cars always attracted me.
        I was the typical geek in school who loves breaking stuff just to see
        whats inside. After I finished my school I decided to pursue what I
        always dreamt of, that is being a software developer.
      </div>
      <div>
        I am an extremely motivated person always willing to learn something new
        no matter what it is, might hit you with some general knowledge facts if
        I like you. Meeting people like you always exites me listening to them
        their stories.
      </div>
      <div class="mt-3">Hey I wanna know you too, lets catch up</div>
    </div>

    <div class="col-lg-5 text-center p-5">
      <img
        src="../assets/IMG_20190316_133021.jpg"
        class="img-fluid my-image shadow-lg"
      />
    </div>
  </div>
</div>
