<div class="container-fluid">
  <h1 class="display-5 p-5 bg-purple text-light">
    <span
      class="material-icons back-icon rounded-circle p-3"
      (click)="backToHome()"
    >
      arrow_back_ios
    </span>
    PROJECT SCRAPBOOK
  </h1>
</div>

<div class="container-fluid pc">
  <app-project-pc></app-project-pc>
</div>

<div class="container-fluid mob">
  <app-project-mob></app-project-mob>
</div>

<div class="container-fluid p-5 bg-primary-light">
  <div class="container-fluid text-center text-muted">
    But thats not all,
    <p>See rest of my projects on my github</p>
    <p class="mt-3">
      Even you can contribute to some of them, It would be lovely working on
      something with you
    </p>

    <a href="https://github.com/rishabh091" target="_blank"
      ><img
        src="../../assets/github.png"
        class="icon img-fluid mt-5"
        alt="github_icon"
    /></a>
  </div>
</div>

<app-footer></app-footer>
<app-scroll-btn></app-scroll-btn>
