.pc {
  display: block;
}
.mob {
  display: none;
}
.bg-purple {
  background: linear-gradient(110deg, #522d5b 20%, var(--purple) 20%);
}
.bg-primary-light {
  background: var(--light-primary);
}
.back-icon:hover {
  background: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.icon {
  height: 50px;
  width: 50px;
  opacity: 0.8;
}
.icon:hover {
  opacity: 1;
  animation: color-rotate 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes color-rotate {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}

@media screen and (max-width: 1360px) {
  .pc {
    display: none;
  }
  .mob {
    display: block;
  }
}
