<div class="container p-5 text-muted">
  <div class="text-center container-fluid mb-5">
    . . . but I am more of a human in real life,
    <p>A guy who loves to meet new people and try new things</p>
    <p>Would love to hear from you</p>
  </div>

  <div class="container-fluid mt-4 d-flex justify-content-center">
    <a href="https://www.instagram.com/rishabh._.malhotra/" target="_blank">
      <img src="../assets/instagram.png" class="img-fluid icon-size" />
    </a>
    <a href="https://www.linkedin.com/in/rishabh-malhotra-639678176/" target="_blank">
      <img src="../assets/linkedin.png" class="img-fluid icon-size ml-2 mr-2" />
    </a>
    <a href="https://github.com/rishabh091" target="_blank">
      <img src="../assets/github.png" class="img-fluid icon-size" />
    </a>
  </div>

  <div class="container-fluid mt-5">
    <p class="text-muted text-center">or mail me at..</p>

    <div class="container d-flex justify-content-center">
      <img src="../../assets/gmail.png" class="icon-size g-mail mr-3">
      <div class="d-flex center-align">Gmail : rishabhmalhotra091@gmail.com</div>
    </div>
  </div>
</div>
