.icon-size {
  height: 50px;
  width: 50px;
  opacity: 0.8;
  cursor: pointer;
}
.icon-size:hover {
  opacity: 1;
}
.center-align{
  align-items: center;
}

@media screen and (max-width: 750px){
  .icon-size{
    display: none;
  }
}
