<div class="d-flex justify-content-center p-5">
  <div class="heading">Skills</div>
</div>

<div class="container">
  <div class="row">
    <div
      class="col-sm-2 custom-bg custom-border p-3 text-center"
      (click)="showSkills('technical')"
      id="technical"
    >
      What I know
    </div>
    <div
      class="col-sm-2 custom-border p-3 text-center"
      (click)="showSkills('behavioral')"
      id="behavioral"
    >
      Who I am
    </div>
  </div>
  <div *ngIf="isTechnical" class="row p-5 purple-border" id="skillRow">
    <div class="card-columns">
      <div class="card card-size card-img-top">
        <div class="container-fluid img-height">
          <img
            class="card-img-top position-absolute img-height"
            src="../assets/abstract-abstract-art-abstract-painting-art-1293120.jpg"
            alt="Card image"
          />
          <div
            class="card-img-top text-center text-light cus-pos position-relative img-height"
          >
            <div>Frontend Languages</div>
          </div>
        </div>
        <div class="card-body">
          <div class="container-fluid left-purple-border pt-2 pb-2">
            <div *ngFor="let lang of frontendLang">
              <div
                class="cus-progress text-center text-muted sub-text mb-2"
                [id]="lang.name"
              ></div>
            </div>
          </div>
        </div>
      </div>

      <div class="card card-size">
        <div class="container-fluid img-height card-img-top">
          <img
            class="card-img-top position-absolute img-height"
            src="../assets/gray-metal-building-structure-2308120.jpg"
            alt="Card image"
          />
          <div
            class="card-img-top text-center text-light cus-pos position-relative img-height"
          >
            <div>Frontend Frameworks</div>
          </div>
        </div>
        <div class="card-body">
          <div class="container-fluid left-purple-border pt-2 pb-2">
            <div *ngFor="let lang of frontendFrame">
              <div
                class="cus-progress text-center text-muted sub-text mb-2"
                [id]="lang.name"
              ></div>
            </div>
          </div>
        </div>
      </div>

      <div class="card card-size">
        <div class="container-fluid img-height card-img-top">
          <img
            class="card-img-top position-absolute img-height"
            src="../assets/working-pattern-internet-abstract-1089438.jpg"
            alt="Card image"
          />
          <div
            class="card-img-top text-center text-light cus-pos position-relative img-height"
          >
            <div>Programming Languages</div>
          </div>
        </div>
        <div class="card-body">
          <div class="container-fluid left-purple-border pt-2 pb-2">
            <div *ngFor="let lang of pgLang">
              <div
                class="cus-progress text-center text-muted sub-text mb-2"
                [id]="lang.name"
              ></div>
            </div>
          </div>
        </div>
      </div>

      <div class="card card-size">
        <div class="container-fluid img-height card-img-top">
          <img
            class="card-img-top position-absolute img-height"
            src="../assets/code-coding-computer-data-574073.jpg"
            alt="Card image"
          />
          <div
            class="card-img-top text-center text-light cus-pos position-relative img-height"
          >
            <div>Development Frameworks</div>
          </div>
        </div>
        <div class="card-body">
          <div class="container-fluid left-purple-border pt-2 pb-2">
            <div *ngFor="let lang of devFrame">
              <div
                class="cus-progress text-center text-muted sub-text mb-2"
                [id]="lang.name"
              ></div>
            </div>
          </div>
        </div>
      </div>

      <div class="card card-size">
        <div class="container-fluid img-height card-img-top">
          <img
            class="card-img-top position-absolute img-height"
            src="../assets/blur-book-stack-books-bookshelves-590493.jpg"
            alt="Card image"
          />
          <div
            class="card-img-top text-center text-light cus-pos position-relative img-height"
          >
            <div>Databases</div>
          </div>
        </div>
        <div class="card-body">
          <div class="container-fluid left-purple-border pt-2 pb-2">
            <div *ngFor="let lang of databases">
              <div
                class="cus-progress text-center text-muted sub-text mb-2"
                [id]="lang.name"
              ></div>
            </div>
          </div>
        </div>
      </div>

      <div class="card card-size">
        <div class="container-fluid img-height card-img-top">
          <img
            class="card-img-top position-absolute img-height"
            src="../assets/man-wearing-black-and-white-stripe-shirt-looking-at-white-212286.jpg"
            alt="Card image"
          />
          <div
            class="card-img-top text-center text-light cus-pos position-relative img-height"
          >
            <div>Concepts</div>
          </div>
        </div>
        <div class="card-body">
          <div class="container-fluid left-purple-border pt-2 pb-2">
            <div *ngFor="let lang of concepts">
              <div
                class="cus-progress text-center text-muted sub-text mb-2"
                [id]="lang.name"
              ></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="!isTechnical" class="row p-5 purple-border">
    <div class="card-columns">
      <div *ngFor="let card of cards">
        <div class="card rounded-0">
          <img
            class="card-img-top card-img-size"
            [src]="card.image"
            alt="Card image"
          />
          <div class="card-body">
            <h4 class="card-title">{{ card.heading }}</h4>
            <p class="card-text custom-font text-muted">
              {{ card.desc }}
            </p>
            <p class="card-text text-right custom-font text-muted">
              {{ card.owner }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
